
/* note changed bkg of zoomViewport on this page to match faded drawing */
.zoomViewport {
	background-color:rgb(216,202,173);
}

/*This file has the positions of the zoomTarget(s) for each image.*/
.zoomTarget[data-index="1"] {
    position:absolute;
    top: 0%;
    left: 0%;
    width: 80%;
    height: 80%;
    /* border:1px solid pink; */
}

.zoomTarget[data-index="2"] {
    position:absolute;
    top: 0%;
    left: 0%;
    width: 60%;
    height: 80%;
    /* border:1px solid red; */
}

.zoomTarget[data-index="3"] {
    position:absolute;
    top: 0%;
    left: 10%;
    width: 60%;
    height: 80%;
    /* border:1px solid green; */
}

.overlay[data-index="3"] {
  position: absolute;
  top: 12%;
  left: 6%;
  width: 16%;
  height: 21%;
  border: 2px solid maroon;
  border-radius: 50%; 
}

.zoomTarget[data-index="4"] {
    position:absolute;
    top: 0%;
    left: 10%;
    width: 50%;
    height: 50%;
    /* border:1px solid blue; */
}

.overlay[data-index="4"] {
    position: absolute;
    top: 3%;
    left: 20%;
    width: 18%;
    height: 23%;
    border-radius: 50%;
    border: 1px solid maroon;
}

.zoomTarget[data-index="5"] {
    position:absolute;
    top: 0%;
    left: 0%;
    width: 80%;
    height: 80%;
    /* border:1px solid lime; */
}

.zoomTarget[data-index="6"] {
    position:absolute;
    top: 10%;
    left: 10%;
    width: 70%;
    height: 70%;
    /* border:1px solid black; */
}

.zoomTarget[data-index="7"] {
    position:absolute;
    top: 28%;
    left: 0%;
    width: 55%;
    height: 28%;
    /* border:1px solid white; */
}

.zoomTarget[data-index="8"] {
    position:absolute;
    top: 30%;
    left: 9%;
    width: 80%;
    height: 80%;
/*  border:1px solid orange; */
}

.zoomTarget[data-index="9"] {
    position:absolute;
    top: 30%;
    left: 9%;
    width: 80%;
    height: 80%;
    /* border:1px solid violet; */
}

.zoomTarget[data-index="10"] {
    position:absolute;
    top: 30%;
    left: 9%;
    width: 80%;
    height: 80%;
    /* border:1px solid grey; */
}