/* note changed bkg of zoomViewport on this page to match faded drawing */
.zoomViewport, html {
  background-color:#e4d4bb;
}


/* override shared.css to make zoomViewport height bigger since
image is wide format */
.zoomViewport {
  margin:0;
  padding:0;
  height: 80vh;
}

/* 
caption-frame, .button {
  background-color:#ffedda;
}
 */

 /* the aspect ratio needed for square overlays is different for every keyimage. 
 For this image it is 1:2.36  */

/*This file has the positions of the zoomTarget(s) for each image.*/
/* Keyimage5 20200203 Happy Birthday Rosa! */

.zoomTarget[data-index="1"] {
    position:absolute;
    top: 28%;
    left: 42%;
    width: 42%;
    height: 42%
/* border:1px solid pink; */
}

/* 
.overlay[data-index="1"] {
  position: absolute;
  top: 31.3%;
  left: 61.3%;
  width: 4.75%;
  height: 18.8%;
  border: 2px solid maroon;
} 
 */
  
.zoomTarget[data-index="2"] {
    position:absolute;
    top: 28%;
    left: 42%;
    width: 42%;
    height: 42%
    /* border:5px solid red; */
}

/* this overlay contains an image */
.overlay[data-index="2"] {
  position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
    
    
.zoomTarget[data-index="3"] {
    position:absolute;
    top: 33%;
    left: 25%;
    width: 45%;
    height: 45%
    /* border:10px solid green; */
}

/* 
.overlay[data-index="3"] {
    position: absolute;
    top: 38%;
    left: 38%;
    width: 25%;
    height: 45%;
    border: 2px solid maroon;
  	border-radius: 50%;
}
 */


.zoomTarget[data-index="4"] {
    position:absolute;
    top: 44%;
    left: 20%;
    width: 35%;
    height: 35%
    /* border:1px solid blue; */
}


/* 
.overlay[data-index="4"] {
    position: absolute;
    top: 50%;
    left: 29.5%;
    width: 13%;
    height: 30.7%;
  	border: 2px solid maroon;
  	border-radius: 50%;
}
 */


.zoomTarget[data-index="5"] {
    position:absolute;
    top: 23%;
    left: 35%;
    width: 35%;
    height: 35%
    /* border:1px solid lime; */
}


/* 
.overlay[data-index="5"] {
    position: absolute;
    top: 20.12%;
  	left: 45.67%;
  	width: 11.30%;
  	height: 19.8%;
  	border: 2px solid maroon;
  	border-radius: 0%;
}
 */


.zoomTarget[data-index="6"] {
    position:absolute;
    top: 50%;
    left:5%;
    width: 30%;
    height: 30%
    /* border:1px solid black; */
}


/* 
.overlay[data-index="6"] {
  position: absolute;
    top: 56%;
    left: 16.5%;
    width: 4%;
    height: 16%;
    border: 2px solid maroon;
  	border-radius: 50%;
}
 */

.zoomTarget[data-index="7"] {
    position:absolute;
    top: 28%;
    left: 46%;
    width: 45%;
    height: 45%;
    /* border:1px solid white; */
}

/* 
.overlay[data-index="7"] {
    position: absolute;
    top: 22%;
  	left: 66.5%;
  	width: 6.5%;
  	height: 55%;
    border-radius: 0%;
    border: 2px solid maroon;
}
 */


.zoomTarget[data-index="8"] {
    position:absolute;
    top: 22%;
    left: 10%;
    width: 33%;
    height: 33%;
/*  border:1px solid orange; */
}

.zoomTarget[data-index="9"] {
    position:absolute;
    top: 22%;
    left: 10%;
    width: 33%;
    height: 33%;
/*  border:1px solid orange; */
}
