/*This file has the positions of the zoomTarget(s) for each image.*/
.zoomTarget[data-index="1"] {
    position:absolute;
    left: 59%;
    top: 7%;
    width: 13%;
    height: 20%;
    border:1px solid pink;
}

.zoomTarget[data-index="2"] {
    position:absolute;
    left: 20%;
    top: 19%;
    width: 11%;
    height: 22%;
    border:1px solid red;
}

.zoomTarget[data-index="3"] {
    position:absolute;
    bottom: 39%;
    left: 24%;
    width: 14%;
    height: 20%;
    border:1px solid green;
}

.zoomTarget[data-index="4"] {
    position:absolute;
    bottom: 43%;
    right: 35%;
    width: 10%;
    height: 18%;
    border:1px solid blue;
}