
/* note changed bkg of zoomViewport on this page to match faded drawing */
.zoomViewport {
	background-color:rgb(216,202,173);
}



/*This file has the positions of the zoomTarget(s) for each image.*/
.zoomTarget[data-index="1"] {
    position:absolute;
    left: 10%;
    top: 15%;
    width: 75%;
    height: 75%;
    /* border:1px solid pink; */
}

.zoomTarget[data-index="2"] {
    position:absolute;
    left: 7%;
    top: 5%;
    width: 60%;
    height: 22%;
    /* border:1px solid red; */
}

.zoomTarget[data-index="3"] {
    position:absolute;
    top: 10%;
    left: 7%;
    width: 14%;
    height: 20%;
    /* border:1px solid green; */
}

.zoomTarget[data-index="4"] {
    position:absolute;
    top: 5%;
    left: 7%;
    width: 70%;
    height: 25%;
    /* border:1px solid blue; */
}

.zoomTarget[data-index="5"] {
    position:absolute;
    top: 21%;
    left: 65%;
    width: 30%;
    height: 20%;
    /* border:1px solid lime; */
}

.zoomTarget[data-index="6"] {
    position:absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    /* border:1px solid black; */
}

.zoomTarget[data-index="7"] {
    position:absolute;
    top: 28%;
    left: 15%;
    width: 55%;
    height: 28%;
    /* border:1px solid white; */
}

.zoomTarget[data-index="8"] {
    position:absolute;
    top: 34%;
    left: 15%;
    width: 12%;
    height: 24%;
/*  border:1px solid orange; */
}

.zoomTarget[data-index="9"] {
    position:absolute;
    top: 7%;
    left: 7%;
    width: 85%;
    height: 85%;
    /* border:1px solid violet; */
}

.zoomTarget[data-index="10"] {
    position:absolute;
    top: 55%;
    left: 45%;
    width: 40%;
    height: 30%;
    /* border:1px solid grey; */
}